<!DOCTYPE html>
<html ng-app="github">
<head>
  <title>Vastari Github</title>

  <!-- External Modules -->
  <script src="/bower_components/angular/angular.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Internal Modules -->
  <script src="/app.js"></script>
  <link rel="stylesheet" href="css/style.css">

</head>
<body ng-controller="dataController as data">
   <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">GithubSearch</a>
          </div>
        </div>
      </nav>

<!--   <div class="container">
      <div class="row">
          <div class="col-md-8 col-md-offset-2">
          </div>
      </div>
  </div> -->


  <div class="row"> 
    <form class="col-md-12 col-md-offset-2">
      <div class="col-md-8">
       <div class="input-group">
         <input type="text" class="form-control" placeholder="Github Username" ng-model="searchText">
         <span class="input-group-btn">
           <button class="btn btn-secondary" type="button" ng-click="search()">Search</button>
         </span>
       </div>
     </div>
   </form>
 </div>    


 <div class="row">
   <div class="col-lg-8 col-md-4 col-xs-offset-4"> 
   <div class="panel panel-default" class="col-md-6 col-xs-offset-2"  ng-repeat="user in userData" ng-if="$index % 4 == 0">
       <div class="panel-heading">
         <h3 class="panel-title">{{userData.login}}</h3>
       </div>
       <div class="panel-body">
         <img  class="img-thumbnail" ng-click="profile()" class="img-responsive" ng-src="{{userData.avatar_url}}">
       </div>
     </div>
   </div>
 </div>


<div class="text-center">
  <nav aria-label="Page navigation">
    <ul class="pagination pagination-lg">
      <li>
        <a href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li>
        <a href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>  
</div>




<!-- <div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"></h3>
            <div class="panel-body" class="col-xs-6 col-xs-offset-2">
            <img  class="thumbnail" src="{{vm.userData.avatar_url}}">
        </div>
      </div>
    </div>
  </div>
</div> -->


<!-- <div class="container">
 <div class="row">
   <div class="col-md-8 col-md-offset-2">
      <h1></h1>
   </div>
 </div>
</div> -->

<!--   <div>
    <form name="searchForm">
       <input type="text" name="userName" ng-model="user.name" />
     <button class="form" ng-click="getUser()">Search</button>
   </form> 
 </div> -->



</body>
</html>